@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.0.7/css/all.css');

$hide: none;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin title {
    font-size: 2em;
    text-align: center;
    color: white;
}

@mixin container {
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 5px;
    padding: 2em;
    width: 70%;
    height: auto; //450px;
    background-color: green;
    box-shadow: 2px 2px 10px 2px white;
}

@mixin button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    background: green;
    color: white;
    border: 2px solid rgba(31, 31, 31, 0.322);
    border-radius: 50em;
    padding: .5em 2em;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    -webkit-box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.2rem 0em rgba(0, 0, 0, 0.1) inset;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
}

header {
    @include title;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    text-shadow: 3px 4px 0 black;
}

#start,
#score {
    @include flex-center;

    img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.lang {
    position: absolute;
    right: 5%;
    top: 5%;

    a {
        @include title;
        font-size: .7em;
        text-decoration: none;
        background-color: darkgreen;
        border: 2px solid white;
        padding: .2em;
    }
}

.start-container,
.score-container {
    @include flex-center;
    @include container;
    opacity: 0;    
    animation: fadeIn 1s ease forwards;
    animation-delay: .5s;
    color: white;

    h2 {
        @include title;
    }

    .fas {
        color: white;
        font-size: 2.5em;
        margin: .5vh;
    }
}

#start-btn {
    @include button;
    width: 50%;
    margin: 1.5em 0;

    &:hover {
        background-color: rgb(4, 48, 4);
        color: white;
        border: 2px solid white;
        letter-spacing: .2em;
    }

    &:active {
        box-shadow: inset 40px 40px 40px green;
        filter: blur(10px);
    }
}

.rules {
    @include flex-center;
    flex-direction: column;
    text-align: center;
    padding: 1em;
}

#quiz,
#score {
    display: $hide;
}

#quiz {
    img {
        width: 100vw;
        height: 100vh;
        object-fit: fill;
    }
    .quiz-container {
        @include container;
        width: 90%;
        margin: 0;
        padding: 5px 20px;
        animation: leftIn .7s ease forwards;
        transition-delay: .5s;

        .question-number {
            display: flex;
            justify-content: space-between;
            color: white;

            .time {
                font-size: 1.3em;
                font-weight: 700;
                color: darkblue;
            }
        }

        .top {
            text-align: center;
            font-size: 1.4em;
            margin-bottom: 1em;
            height: 80px;
            color: white;
            text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.3);
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(1, auto);
            gap: .5em;
            font-size: 1.2em;
            margin: 2em auto 1em;
        }

        .answer-btn {
            font-size: .7em;
            border: 2px solid white;
            background-color: white;
            width: 70vw;
            margin: 0 auto;
            padding: .5em;
            border-radius: 5px;
            cursor: pointer;
            transition: .5s;

            h4 {
                display: inline-block;
                color: blue;
            }

            &:hover {
                border-color: dodgerblue;
                cursor: pointer;
            }
        }

        .correct {
            background-color: limegreen;
            border-color: limegreen;
            color: white;
            font-weight: 700;
        }

        .wrong {
            background-color: red;
            border-color: red;
        }

        .answered {
            pointer-events: none;

            &:hover {
                cursor: no-drop;
            }
        }

        .transition-time {
            transition-delay: 1s;
        }

        .next {
            display: flex;
            justify-content: flex-end;

            .next-btn {
                @include button;
                width: 15%;
                padding: .5em;
                margin: .2em 0;
                border-radius: 10px;
                background: steelblue;

                &:hover {
                    background-color: mediumblue;
                    color: white;
                    border-color: white;
                    cursor: pointer;
                }
            }
        }
    }
}

#score {
    .score-container {
        animation-delay: 1.5s;

        .scoreTitle {
            text-transform: uppercase;
            font-size: 1.2em;
            letter-spacing: .2em;
            margin-top: 1em;
        }

        #result,
        #percentage {
            @include title;
        }

        #home-btn {
            @include button;
            width: 60%;
            margin: .5em 0;
            background: transparent;
            transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

            &:hover,
            &:focus {
                box-shadow: 0 0 40px 40px rgb(4, 48, 4) inset;
                color: white;
            }

            .fa {
                padding-right: 5px;
            }
        }

        .copyright {
            color: white;
            text-align: center;
            font-size: .7em;
            margin-bottom: 10px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes leftIn {
    0% {
        left: -50%;
    }

    100% {
        left: 50%;
    }
}

@media screen and (min-width: 481px) {
    #start {
        .start-container {
            width: 55%;
        }
    }

    #quiz {
        .quiz-container {
            width: 80%;

            .grid {
                grid-template-columns: repeat(2, auto);
                gap: 2em 1em;
            }

            .answer-btn {
                width: 30vw;
            }
        }
    }

    #score {
        .score-container {

            #home-btn {
                width: 40%;
                font-size: 1em;
                margin: 1em;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #start {
        .start-container {
            width: 40%;

            h2 {
                font-size: 3.4em;
            }

            #start-btn {
                font-size: 1.5em;
                margin: .5em 0;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    #start {
        .start-container {
            width: 35%;

            #start-btn {
                width: 45%;
            }
        }
    }

    #quiz {
        .quiz-container {
            width: 60%;

            .top {
                font-size: 1.8em;
                padding: 0px 40px;
            }

            .grid {
                margin: 2em auto 1em;
            }

            .answer-btn {
                width: 20vw;
            }
        }
    }

    #score {
        .score-container {
            width: 25%;
        }
    }
}

@media screen and (min-width: 1200px) {
    #start {
        .start-container {
            width: 25%;

            #start-btn {
                margin-top: 1em;
            }
        }
    }

    #quiz {
        .quiz-container {
            width: 50%;
        }
    }

    #score {
        h3 {
            font-size: 1.5em;
        }
    }
}